// import mixins

@use "../../../sass/helpers/mixins" as *;

@use "../../../sass/helpers/variables" as *;

.Blog-section {
  padding: 100px 0;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 200px;
    left: 150px;
    @include box-shadow(100px 100px 400px 150px $main_color);
    @include border-radius(50%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 300px;
    right: 350px;
    @include box-shadow(100px 100px 400px 150px $main_color);
    @include border-radius(50%);
  }
  .Blogs-wrapper {
    position: relative;
    margin-top: 40px;
    z-index: 10;
    .Blog-item {
      width: calc(100% / 3 - 8px);
      @include max-breakpoint(screen-md) {
        width: calc(100% / 2 - 8px);
      }
      @include max-breakpoint(screen-sm) {
        width: 100%;
      }
    }
    .Blog-item-img {
      overflow: hidden;
    }
    a {
      background-color: $main_color;
      color: #fff;
      padding: 8px 15px;
      border: 1px solid $main_color;
      @include transition(0.5s);
      &:hover {
        background-color: rgb(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        color: #fff;
        border: 1px solid #6c6a6a;
        @include box-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
      }
    }
  }
}
