// import mixins

@use "../../../../sass/helpers/mixins" as *;

@use "../../../../sass/helpers/variables" as *;

.side-wrapper {
  > div {
    top: 100px;
    z-index: 5;
  }
  @include max-breakpoint(screen-md) {
    margin-top: 50px;
  }
  .sidebar-area {
    background: rgb(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    @include box-shadow(5px 5px 30px rgba(0, 0, 0, 0.2));
    &:first-of-type {
      form {
        background: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0.18),
          rgba(255, 255, 255, 0.05)
        );
        caret-color: $main_color;
      }
      input {
        background-color: transparent;
        font-size: 14px;
        color: #fff;
        outline: none;
        caret-color: $main_color;
        &::placeholder {
          color: #fff;
        }
        button {
          outline: none;
          background-color: transparent;
          color: #fff;
        }
      }
    }
    .categories-list {
      .cat-item {
        background: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0.18),
          rgba(255, 255, 255, 0.05)
        );
      }
    }
    .social-list {
      li {
        a {
          border: 1px solid #7b7b7b;
          svg {
            color: $main_color;
            @include transition(0.7s);
          }
          &:hover svg {
            color: #fff;
          }
        }
      }
    }
    li {
      background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.18),
        rgba(255, 255, 255, 0.05)
      );
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        background-color: $main_color;
        z-index: -1;
        @include transition(all 0.7s ease);
        @include border-radius(100%);
      }
      &:hover::before {
        width: 300%;
        height: 300%;
        @include border-radius(15px);
      }
    }
  }
}
