// import mixins

@use "../../../sass/helpers/mixins" as *;

@use "../../../sass/helpers/variables" as *;

.swiper-slide {
  .wrapper {
    height: 100vh;
    min-height: 300px;
    img {
      object-fit: cover;
      object-position: top;
    }
    .caption {
      @include transform(translateY(-50%));
      @include max-breakpoint(screen-sm) {
        width: 100%;
        text-align: center;
        left: 0;
        padding: 0 20px;
      }
      h1 {
        color: #fff;
        font-size: 4rem;
        span {
          &.emphasis {
            color: $main_color;
          }
          &:not(.emphasis) {
            font-size: 3.5rem;
          }
        }
      }
      p {
        &:first-of-type {
          letter-spacing: 2px;
          color: #fff;
          padding-right: 8rem;
          @include max-breakpoint(screen-sm) {
            padding-right: 0;
          }
        }
        &.paragraph {
          color: #fff;
          max-width: 520px;
          letter-spacing: 0px;
          text-align: justify;
          font-size: 1.2rem;
          @include max-breakpoint(screen-sm) {
            text-align: center;
            max-width: 100% !important;
          }
        }
      }
      .link-effect {
        width: 150px;
        background-color: $main_color;
        color: #fff;
        padding: 10px 19px 9px 19px;
        border: 1px solid $main_color;
        @include transition(0.4s);
        @include max-breakpoint(screen-sm) {
          margin: auto;
        }
        &:hover {
          background-color: rgb(0, 0, 0, 0.1);
          backdrop-filter: blur(15px);
          color: #fff;
          border: 1px solid #6c6a6a;
          @include box-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
        }
      }
    }
  }
  &.swiper-slide-active {
    .caption {
      h1 {
        animation: 1.2s ease 0s normal none 1 running fadeInRight;
        -webkit-animation: 1.2s ease 0s normal none 1 running fadeInRight;
        span {
          &.emphasis {
            animation: 1.2s ease 0s normal none 1 running fadeInRight;
            -webkit-animation: 1.2s ease 0s normal none 1 running fadeInRight;
          }
        }
      }
      p {
        &:first-of-type {
          animation: 1.2s ease 0s normal none 1 running fadeInRight;
          -webkit-animation: 1.2s ease 0s normal none 1 running fadeInRight;
        }
        &.paragraph {
          animation: 1.2s ease 0s normal none 1 running fadeInRight;
          -webkit-animation: 1.2s ease 0s normal none 1 running fadeInRight;
        }
      }
      .link-effect {
        animation: 1.2s ease 0s normal none 1 running fadeInUp;
        -webkit-animation: 1.2s ease 0s normal none 1 running fadeInUp;
      }
    }
  }
}

.btns-box {
  right: 70px;
  z-index: 1;
  @include transform(translateY(50%));
  @include max-breakpoint(screen-sm) {
    padding: 0 20px;
    flex-direction: row !important;
    width: 100%;
    right: 0;
    left: 0;
    justify-content: space-between !important;
    top: 85% !important;
    .button-prev-slide,
    .button-next-slide {
      @include transform(rotate(-90deg));
    }
  }
  .button-prev-slide,
  .button-next-slide {
    cursor: pointer;
    background-color: $main_color;
    color: #fff;
    width: 45px;
    height: 45px;
    border: 1px solid $main_color;
    @include transition(0.5s);
    &:hover {
      background-color: rgb(0, 0, 0, 0.1);
      backdrop-filter: blur(15px);
      border: 1px solid #6c6a6a;
      @include box-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
    }
    @include max-breakpoint(screen-md) {
      bottom: 10px;
    }
  }
  .button-next-slide {
    right: 10px;
  }
  .button-prev-slide {
    left: 10px;
  }
}

.swiper-pagination {
  bottom: 30px !important;
  .btns-box {
    right: 70px;
    z-index: 1;
    @include transform(translateY(-50%));
    @include max-breakpoint(screen-sm) {
      padding: 0 20px;
      flex-direction: row !important;
      width: 100%;
      right: 0;
      left: 0;
      justify-content: space-between !important;
      top: 85% !important;
    }
    .button-prev-slide,
    .button-next-slide {
      cursor: pointer;
      background-color: $main_color;
      color: #fff;
      width: 45px;
      height: 45px;
      border: 1px solid $main_color;
      @include transition(0.5s);
      @include max-breakpoint(screen-sm) {
        @include transform(rotate(-90deg));
      }
      @include max-breakpoint(screen-md) {
        bottom: 10px;
      }
      &:hover {
        background-color: rgb(0, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        border: 1px solid #6c6a6a;
        @include box-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
      }
    }
    @include max-breakpoint(screen-md) {
      .button-next-slide {
        right: 10px;
      }
      .button-prev-slide {
        left: 10px;
      }
    }
  }
  .swiper-pagination-bullet {
    border: 1px solid $main_color !important;
    margin: 0px 8px !important;
    width: 10px !important;
    height: 10px !important;
    background-color: transparent !important;
    opacity: 1 !important;
    @include border-radius(10px !important);
    @include transition(0.4s);
    &.swiper-pagination-bullet-active {
      width: 60px !important;
      background-color: $main_color !important;
      height: 8px;
    }
  }
}

@include keyF(fadeInRight) {
  0% {
    opacity: 0;
    @include transform(translate3d(100%, 0, 0));
  }
  100% {
    opacity: 1;
    @include transform(none);
  }
}
@include keyF(zoomIn) {
  0% {
    opacity: 0;
    @include transform(scale3d(0.5, 0.5, 0.5));
  }
  50% {
    opacity: 1;
  }
}
@include keyF(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }
  100% {
    opacity: 1;
    @include transform(none);
  }
}
